.top{
    width: 100%;
    height: 50px;
    background-color: rgb(250, 250, 250);
    display: flex;
    top: 0;
    position: sticky;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 999;
}
.toplist
{
    display: flex;
    gap: 30px;
    justify-content: center;

}
.topLeft,.topRight
{
    flex: 3;
    justify-content: center;
    display: flex;
    align-items: center;
}
.topCenter{
    flex: 6;
}
.topimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topIcon
{
    font-size: 24px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topListItem
{
    cursor: pointer;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
}
.topSearchIcon{
    margin-left: 5%;

}